@media all and (min-width: 800px) {
	#nav {
		width: 300px;
		float: left;
		margin-right: 20px;
	}
	#grid {
		width: 450px;
		float: left;
	}
}

@media all and (max-width: 799px) {
	#nav {
		width: 100%;
	}
	#grid {
		width: 100%;
	}
}

.ui-bar {
	height: 120px;
}

.header {
	background-color:#3C3;
	}